/*
Layout of the web
Grid style

Refernce from Bootstrap Grid v4.3.1
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.container {
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 0px auto 0px auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1,
.col-s-1,
.col-s-2,
.col-s-3,
.col-s-4,
.col-s-5,
.col-s-6,
.col-s-7,
.col-s-8,
.col-s-9,
.col-s-10,
.col-s-11,
.col-s-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}



@media (min-width: 576px) {

    .col-s-1,
    .col-s-2,
    .col-s-3,
    .col-s-4,
    .col-s-5,
    .col-s-6,
    .col-s-7,
    .col-s-8,
    .col-s-9,
    .col-s-10,
    .col-s-11,
    .col-s-12 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .col-s-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-s-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-s-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-s-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-s-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-s-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-s-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-s-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {

    .col,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .col-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
